{% extends 'base.html.twig' %}

{% block title %}Editar Tipo Identificador{% endblock %}

{% block body %}
    <h1>Editar Tipo Identificador</h1>

    {{ include('tipo_identificador/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-default" href="{{ path('tipo_identificador_index') }}">Volver</a>


{% endblock %}
