{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cambiar Password</h3>
            </div>

            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(form) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}"/>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>