{% trans_default_domain 'FOSUserBundle' %}
<p class="login-box-msg">Recuperar Contraseña</p>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" required="required"/>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>
        </div>
    </div>
</form>