{% extends 'base.html.twig' %}

{% block title %}Edit Web{% endblock %}

{% block body %}
    <h1>Editar Web</h1>

    {{ include('web_digesto_texto/_form.html.twig', {'button_label': 'Guardar'}) }}




{% endblock %}
