{% extends 'base.html.twig' %}

{% block title %}Nueva Norma{% endblock %}

{% block body %}


    {{ include('norma/_form.html.twig') }}

    <a class="btn btn-default" href="{{ path('norma_index') }}">Volver</a>
{% endblock %}
