{% extends 'base.html.twig' %}

{% block title %}Editar Documento Web{% endblock %}

{% block body %}
    <h1>Editar Documento Web</h1>

    {{ include('web_digesto_documento/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-default" href="{{ path('web_digesto_documento_index') }}">Volver</a>


{% endblock %}
