<form method="post" action="{{ path('palabra_clave_delete', {'id': palabra_clave.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ palabra_clave.id) }}">
    <button class="btn">Delete</button>
</form>
