{% extends 'base.html.twig' %}

{% block title %}Editar Palabra Clave{% endblock %}

{% block body %}
    <h1>Editar Palabra Clave</h1>

    {{ include('palabra_clave/_form.html.twig', {'button_label': 'Guardar'}) }}

    <a class="btn btn-default" href="{{ path('palabra_clave_index') }}">Volver</a>


{% endblock %}
